{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "Data Source=oilprice.db"
  },
  "OilPriceApi": {
    "Url": "https://superiorapis-creator.cteam.com.tw/manager/feature/proxy/93aba44236ca/pub_93aba848a466",
    "ApiKey": "YOUR_API_KEY_HERE"
  }
}
